<!DOCTYPE html>
<html>
<head>
  <title>Assignment 3 - API</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="cointainer-fluid">
	<div class="navbar-header">
	  <%= link_to "Latin Verbs", home_path, { class: 'navbar-brand' } %>
	</div>
	<ul class="nav navbar-nav">
	  <li><%= link_to "Home", home_path %></li>
	  <li><%= link_to "All", all_path %></li>
	  <li><%= link_to "New", new_path %></li>
	  <li><%= link_to "API", '#' %></li>
	</ul>
	<ul class="nav navbar-nav " style="float: right">
	  <li>
	    <%= link_to "Back", 'javascript:history.go(-1);' %>
	  </li>
	</ul>
      </div>
    </nav>
</header>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
